.card-home img {
	width: 412px;
	height: 534px;
	margin-top: 50px;
}
.home-main {
	display: grid;
	align-items: center;
	grid-template-columns: 50% 50%;
	justify-content: space-between;
}
.home-main h1 {
	font-size: 80px;
	line-height: 80px;
	color: white;
}
.home-heading {
	text-transform: uppercase;
	background: linear-gradient(
		55.8deg,
		#e41bff 9.23%,
		#d22df8 15.37%,
		#7d81d5 45.28%,
		#3ebebc 69.76%,
		#18e5ac 87.56%,
		#09f3a6 96.85%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}
.home-subtitle {
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: 29px;
	letter-spacing: 0em;
	color: white;
}
.Home-btn {
	font-size: 15px;
	background: none;
	border: 2px solid#6E74FF;
	color: #6e74ff;
	padding: 6px;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
}

.arrow {
	background-color: black;
	position: absolute;
	margin-left: 16px;
}
@media screen and (max-width: 1116px) {
	.home-main {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: space-between;
	}
	.home-main h1 {
		margin-top: 20px;
	}
}
@media screen and (max-width: 960px) {
	.home-main h1 {
		font-size: 28px;
		line-height: 40px;
		margin-top: 10px;
	}
	.card-home img {
		width: 312px;
		height: 434px;
	}
	.card-home img {
		width: 300px;
		height: 376px;
		text-align: center;
	}
	.home-subtitle {
		font-size: 14px;
		line-height: 20px;
	}
}
.home-footer{
	margin-top: 5rem;
}